
.font-family{
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
    font-size: 56px;
}
    
    

.nav-bar{
    display: flex;
    text-align: center;
    justify-content: space-between;
    
}
.nav-icon{
    text-decoration: none;
}
.nav-icon{
    display: flex; text-decoration: none;
    text-decoration: none;
    justify-content: space-between;
}

.nav-item{
    list-style: none;
    margin-right: 32px;
}
.hero{
   display: flex;
    justify-content: space-between;
}
 .font-style{
    font-size: 56px;
    flex-direction: column;
 }
.span-1{
    color: orange;
}
.span-2{
    color:blue;
}
.p-1{
font-size: medium;
}
.btn-1{
    background-color: black;
    color: aliceblue;
    text-align: center;
}
