
.font-family{
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
    font-size: 56px;
}
    
    

.nav-bar{
    display: flex;
    text-align: center;
    justify-content: space-between;
    
}
.nav-icon{
    text-decoration: none;
}
.nav-icon{
    display: flex; text-decoration: none;
    text-decoration: none;
    justify-content: space-between;
}

.nav-item{
    list-style: none;
    margin-right: 32px;
}
.hero{
   display: flex;
    justify-content: space-between;
}
 .font-style{
    font-size: 56px;
    flex-direction: column;
 }
.span-1{
    color: orange;
}
.span-2{
    color:blue;
}
.p-1{
font-size: medium;
}
.btn-1{
    background-color: black;
    color: aliceblue;
    text-align: center;
}
.banner-img{
    width: 100%;
}
@media screen and (max-width:576px) {
  .nav-bar, .nav-icon, .hero {
    flex-direction: column;
  }
}
.Standard{
    font-size: 20px;
font-weight: 700;
display: flex;
text-align:center;
}
.team{
    display:flex;
}
.box-1{
    box-sizing: border-box;
border: 0.94px solid rgb(222, 245, 255);
border-radius: 18.86px;
gap: 2px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.Curriculum{
    margin-top: auto;
}
.btn-2{
    color: rgb(100, 200, 255);
    text-align: center;

}
.box-2{
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.btn-3{
    color: rgb(240, 170, 0);
    text-align: center;
}
